body {
    background-color: lightsalmon;
}

ul {
    color: #ffff ;
}

.Qwitcher-grypen-bold {

    font-family: "Qwitcher-grypen-reguler", cursive;
    font-weight: 400;
    font-style: normal;

}

.menu {
    text-align: ;
}